body{
	font-family: sans-serif;

}
#nav{
	background-color: #ffffff;
}
.navbar-brand{
	background-color: #4aaaa5;

}

.body{
	background-color: #ffffff;
}

#footer{
	background-color: #666666;
	text-align: center;
}



